*{
    margin: 0;
    padding: 0;
    text-align: center;
    background-color: pink;
}

h1{
    background-color: blueviolet;
    color: white;
    padding: 10px;
    border: 5px solid black;
}

.choices{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;  
}
.choices:hover{
    cursor: pointer; 
    opacity: 0.8;
    background-color: black;
}
img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choice{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}


.Score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-top: 3rem;
    font-size: 2rem;
}

#User-Score,
#Computer-score{
    font-size: 4rem;
}
.msg-container{
    margin: 5rem;
}
#msg{
    background-color: orange;
    color: white;
    padding: 1rem;
    font-size: 2rem;
    display: inline;
    
    border-radius: 5rem;
}